
@media (min-width: 400px) {
.container{  
    border: solid 5px rgba(116, 116, 116, 0.6);
    justify-content: center;
    width: fit-content;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-areas: "a a";
    grid-gap: 52px;
    grid-auto-rows: auto;
    grid-auto-columns: 205px 205px 205px 205px 205px;
    grid-template-rows: 25px 25px 25px 135px 335px 205px 150px 105px 155px;
    margin-left: auto;
    margin-right: auto;

    grid-template-areas:"cell-0 cell-01 cell-02 cell-03 . "
                        " cell-21 cell-21 cell-21 cell-21 cell-1 " 
                        " cell-21 cell-21 cell-21 cell-21 cell-2 " 
                        " cell-21 cell-21 cell-21 cell-21 cell-3 " 
                        " cell-4 cell-4 cell-5 cell-6 cell-7 " 
                        " cell-8 cell-9 cell-9 cell-10 cell-11 " 
                        " cell-8 cell-13 cell-14 cell-14 cell-15 " 
                        " cell-12 cell-13 cell-16 cell-17 cell-18 " 
                        " cell-19 cell-20 cell-20 . cell-04 " 
    ;

}



.cell-1{
    
    grid-area: cell-1;

}
.cell-2{
grid-area: cell-2;

}
.cell-3{
grid-area: cell-3;

}
.cell-4{
grid-area: cell-4;

}
.cell-5{
    grid-area: cell-5;

}
.cell-6{
    grid-area: cell-6;

}
.cell-7{
    grid-area: cell-7;

}
.cell-8{
    grid-area: cell-8;

}
.cell-9{
    grid-area: cell-9;

}
.cell-10{
    grid-area: cell-10;

}
.cell-11{
    grid-area: cell-11;

}
.cell-12{
    grid-area: cell-12;

}
.cell-13{
    grid-area: cell-13;

}
.cell-14{
    grid-area: cell-14;

}
.cell-15{
    grid-area: cell-15;

}
.cell-16{
    grid-area: cell-16;

}
.cell-17{
    grid-area: cell-17;

}
.cell-18{
    grid-area: cell-18;

}
.cell-19{
    grid-area: cell-19;

}
.cell-20{
    grid-area: cell-20;

}
.cell-21{

    grid-area: cell-21;
    
}
.cell-0{
    grid-area: cell-0;
    border: 1px solid black;
    background-color: bisque;
    border-radius: 5px;
    text-align: center;

}
.cell-01{
    grid-area: cell-01;
    border: 1px solid black;
    background-color: bisque;
    border-radius: 5px;
    text-align: center;

}
.cell-02{
    grid-area: cell-02;
    border: 1px solid black;
    background-color: bisque;
    border-radius: 5px;
    text-align: center;

}
.cell-03{
    grid-area: cell-03;
    border: 1px solid black;
    background-color: bisque;
    border-radius: 10px;
    text-align: center;

}
.cell-04{
    grid-area: cell-04;
    text-align: center;
    

}}
@media (max-width: 400px) {
    .container{  
        border: solid 5px rgba(116, 116, 116, 0.6);
        justify-content: center;
        width: fit-content;
        height: auto;
        width: 100%;
        display: grid;
        grid-template-areas: "a a";
        grid-gap: 52px;
        grid-auto-rows: auto;
        grid-auto-columns: 205px 205px 205px 205px 205px;
        grid-template-rows: 25px 25px 25px 135px 335px 205px 150px 105px 155px;
        margin-left: auto;
        margin-right: auto;
    
        grid-template-areas:"cell-0 cell-01 cell-02 cell-03 . "
                            " cell-21 cell-21 cell-21 cell-21 cell-1 " 
                            " cell-21 cell-21 cell-21 cell-21 cell-2 " 
                            " cell-21 cell-21 cell-21 cell-21 cell-3 " 
                            " cell-4 cell-4 cell-5 cell-6 cell-7 " 
                            " cell-8 cell-9 cell-9 cell-10 cell-11 " 
                            " cell-8 cell-13 cell-14 cell-14 cell-15 " 
                            " cell-12 cell-13 cell-16 cell-17 cell-18 " 
                            " cell-19 cell-20 cell-20 . cell-04 " 
        ;
    
    }
    
    
    
    .cell-1{
        
        grid-area: cell-1;
    
    }
    .cell-2{
    grid-area: cell-2;
    
    }
    .cell-3{
    grid-area: cell-3;
    
    }
    .cell-4{
    grid-area: cell-4;
    
    }
    .cell-5{
        grid-area: cell-5;
    
    }
    .cell-6{
        grid-area: cell-6;
    
    }
    .cell-7{
        grid-area: cell-7;
    
    }
    .cell-8{
        grid-area: cell-8;
    
    }
    .cell-9{
        grid-area: cell-9;
    
    }
    .cell-10{
        grid-area: cell-10;
    
    }
    .cell-11{
        grid-area: cell-11;
    
    }
    .cell-12{
        grid-area: cell-12;
    
    }
    .cell-13{
        grid-area: cell-13;
    
    }
    .cell-14{
        grid-area: cell-14;
    
    }
    .cell-15{
        grid-area: cell-15;
    
    }
    .cell-16{
        grid-area: cell-16;
    
    }
    .cell-17{
        grid-area: cell-17;
    
    }
    .cell-18{
        grid-area: cell-18;
    
    }
    .cell-19{
        grid-area: cell-19;
    
    }
    .cell-20{
        grid-area: cell-20;
    
    }
    .cell-21{
    
        grid-area: cell-21;
        
    }
    .cell-0{
        grid-area: cell-0;
        border: 1px solid black;
        background-color: bisque;
        border-radius: 5px;
        text-align: center;
    
    }
    .cell-01{
        grid-area: cell-01;
        border: 1px solid black;
        background-color: bisque;
        border-radius: 5px;
        text-align: center;
    
    }
    .cell-02{
        grid-area: cell-02;
        border: 1px solid black;
        background-color: bisque;
        border-radius: 5px;
        text-align: center;
    
    }
    .cell-03{
        grid-area: cell-03;
        border: 1px solid black;
        background-color: bisque;
        border-radius: 10px;
        text-align: center;
    
    }
    .cell-04{
        grid-area: cell-04;
        text-align: center;
        
    
    }}